.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

.dbr-logo {
  height: 3vmin;
  pointer-events: none;
}

.ds-logo {
  height: 3vmin;
  pointer-events: none;
  float: right;
}

.App-header {
  background-color: #282c34;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}